/* display:flex | justify-content: space-between; | align-items: center */
@mixin df-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* section dimensions */
@mixin section-dimensions {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
}
