/* Media Queries */

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (min-width: 22.5rem) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 72rem) {
      @content;
    }
  }
  @if $breakpoint == desktop-large {
    @media (min-width: 90rem) {
      @content;
    }
  }
}

/* grid | justify-content: space-between | align-items: center | grid-auto-flow: column */
@mixin grid-jcsb-aic-gafc {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-auto-flow: column;
}
