/* Media Queries */

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (min-width: 22.5rem) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 72rem) {
      @content;
    }
  }
  @if $breakpoint == desktop-large {
    @media (min-width: 90rem) {
      @content;
    }
  }
}

/* display:flex | justify-content: space-between; | align-items: center */
@mixin df-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* section dimensions */
@mixin section-dimensions {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
}
