/* Color Theme Swatches in Hex */
$eksamen-1-hex: #bf702a;
$eksamen-2-hex: #736558;
$eksamen-3-hex: #bfa08e;
$eksamen-4-hex: #261a18;
$eksamen-5-hex: #f2f2f2;

/* Color Theme Swatches in RGBA */
$eksamen-1-rgba: rgba(191, 112, 42, 1);
$eksamen-2-rgba: rgba(115, 101, 88, 1);
$eksamen-3-rgba: rgba(191, 160, 142, 1);
$eksamen-4-rgba: rgba(38, 26, 24, 1);
$eksamen-5-rgba: rgba(242, 242, 242, 1);

/* Color Theme Swatches in HSLA */
$eksamen-1-hsla: hsla(28, 63, 45, 1);
$eksamen-2-hsla: hsla(28, 13, 39, 1);
$eksamen-3-hsla: hsla(22, 27, 65, 1);
$eksamen-4-hsla: hsla(8, 22, 12, 1);
$eksamen-5-hsla: hsla(0, 0, 94, 1);

/* modified colors 0.2 opacity */
$eksamen-hero-rgba-2-hex-0-2: rgba(115, 101, 88, 0.2);
$eksamen-hero-rgba-3-hex-0-2: rgba(191, 160, 142, 0.2);
$eksamen-hero-rgba-4-hex-0-2: rgba(38, 26, 24, 0.2);
$eksamen-hero-rgba-5-hex-0-2: rgba(242, 242, 242, 0.2);

/* modified colors 0.3 opacity */
$eksamen-hero-rgba-2-hex-0-3: rgba(115, 101, 88, 0.3);
$eksamen-hero-rgba-3-hex-0-3: rgba(191, 160, 142, 0.3);
$eksamen-hero-rgba-4-hex-0-3: rgba(38, 26, 24, 0.3);
$eksamen-hero-rgba-5-hex-0-3: rgba(242, 242, 242, 0.3);

/* modified colors 0.4 opacity */
$eksamen-hero-rgba-2-hex-0-4: rgba(115, 101, 88, 0.4);
$eksamen-hero-rgba-3-hex-0-4: rgba(191, 160, 142, 0.4);
$eksamen-hero-rgba-4-hex-0-4: rgba(38, 26, 24, 0.4);
$eksamen-hero-rgba-5-hex-0-4: rgba(242, 242, 242, 0.4);

/* modified colors 0.5 opacity */
$eksamen-hero-rgba-5-hex-0-5: rgba(242, 242, 242, 0.5);

/* modified colors 0.8 opacity */
$eksamen-hero-rgba-5-hex-0-8: rgba(242, 242, 242, 0.8);
