/* Color Theme Swatches in Hex */
$eksamen-1-hex: #bf702a;
$eksamen-2-hex: #736558;
$eksamen-3-hex: #bfa08e;
$eksamen-4-hex: #261a18;
$eksamen-5-hex: #f2f2f2;

/* Color Theme Swatches in RGBA */
$eksamen-1-rgba: rgba(191, 112, 42, 1);
$eksamen-2-rgba: rgba(115, 101, 88, 1);
$eksamen-3-rgba: rgba(191, 160, 142, 1);
$eksamen-4-rgba: rgba(38, 26, 24, 1);
$eksamen-5-rgba: rgba(242, 242, 242, 1);

/* Color Theme Swatches in HSLA */
$eksamen-1-hsla: hsla(28, 63, 45, 1);
$eksamen-2-hsla: hsla(28, 13, 39, 1);
$eksamen-3-hsla: hsla(22, 27, 65, 1);
$eksamen-4-hsla: hsla(8, 22, 12, 1);
$eksamen-5-hsla: hsla(0, 0, 94, 1);
