/* abstracts */
/* Media Queries */
/* display:flex | justify-content: space-between; | align-items: center */
/* section dimensions */
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
/* base */
/* button animations */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

textarea {
  resize: none;
  border: 0;
  outline: 0;
}

input {
  border: 0;
}

button {
  border: 0;
  background: none;
}

@font-face {
  font-family: "Quicksand", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
  font-weight: 700, 600, 500, 400, 300;
}

/* atoms */
.cases-slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-top: 3rem;
}

.next,
.prev {
  color: #bf702a;
  font-size: 30px;
}

/* molecules */
nav {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  z-index: 100;
}

nav button {
  cursor: pointer;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
}

.hero {
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

/* organisms */
/* templates */
/* sections */
.hero {
  background-color: red;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.projekter {
  background-color: orange;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.oevrige-projekter {
  margin-left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.oevrige-projekter img {
  width: 100px;
}

.oevrige-projekter__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-left: 50%;
}

.om-os {
  background-color: lightblue;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.reparationer {
  background-color: saddlebrown;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.section-projekt-1 {
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
}

.book-moede {
  background-color: yellow;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.footer {
  background-color: green;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}
/*# sourceMappingURL=main.css.map */