/* abstracts */
@import "abstracts/mixins";
@import "abstracts/variables";

/* base */
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

/* atoms */
@import "atoms/buttons";
@import "atoms/inputs";
@import "atoms/links";
@import "atoms/image";

/* molecules */
@import "molecules/contact-form";
@import "molecules/navigation";
@import "molecules/card";

/* organisms */
@import "organisms/header";
@import "organisms/footer";

/* templates */

/* sections */
@import "sections/hero";
@import "sections/projekter";
@import "sections/om-os";
@import "sections/reparationer";
@import "sections/book-moede";
@import "sections/footer";
@import "sections/section-1-projekt";
@import "sections/section-2-projekt";
@import "sections/section-3-projekt";
@import "sections/reviews";