/* Color Theme Swatches in Hex */
$eksamen-colors-1-hex: #86A69D;
$eksamen-colors-2-hex: #A67449;
$eksamen-colors-3-hex: #734429;
$eksamen-colors-4-hex: #D9B19A;
$eksamen-colors-5-hex: #F2F2F2;

/* Color Theme Swatches in RGBA */
$eksamen-colors-1-rgba: rgba(134,166,157, 1);
$eksamen-colors-2-rgba: rgba(166,116,73, 1);
$eksamen-colors-3-rgba: rgba(115,68,41, 1);
$eksamen-colors-4-rgba: rgba(217,177,154, 1);
$eksamen-colors-5-rgba: rgba(242,242,242, 1);

.contact-form-container {
    label {
        span {
            color: red;
        }
    }
    input {
        border: none;
        outline: none;
        width: 100%;
    }
    textarea {
        border: none;
        outline: none;
        resize: none;
    }
    button {
        border: none;
        background-color: transparent;
    }
    #contact-form-error, #contact-name-error, #contact-email-error, #contact-phone-error, #contact-subject-error, #contact-message-error {
        color: red;
    }
}

