/* Color Theme Swatches in Hex */
$eksamen-colors-1-hex: #86A69D;
$eksamen-colors-2-hex: #A67449;
$eksamen-colors-3-hex: #734429;
$eksamen-colors-4-hex: #D9B19A;
$eksamen-colors-5-hex: #F2F2F2;

/* Color Theme Swatches in RGBA */
$eksamen-colors-1-rgba: rgba(134,166,157, 1);
$eksamen-colors-2-rgba: rgba(166,116,73, 1);
$eksamen-colors-3-rgba: rgba(115,68,41, 1);
$eksamen-colors-4-rgba: rgba(217,177,154, 1);
$eksamen-colors-5-rgba: rgba(242,242,242, 1);
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Prata&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Prata', serif;
}

nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    background-color: $eksamen-colors-5-hex;
    ul {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        grid-column-gap: 50px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: $eksamen-colors-3-hex;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}
.contact-form-container {
    label {
        span {
            color: red;
        }
    }
    input {
        border: none;
        outline: none;
        width: 100%;
    }
    textarea {
        border: none;
        outline: none;
        resize: none;
    }
    button {
        border: none;
        background-color: transparent;
    }
    #contact-form-error, #contact-name-error, #contact-email-error, #contact-phone-error, #contact-subject-error, #contact-message-error, #contact-date-error, #contact-time-error {
        color: red;
    }
}

