@mixin primary-button-style {
  background: transparent;
  padding: 1rem 4rem;
  border: 0.3125rem solid $eksamen-2-hex;
  cursor: pointer;
  @include primary-button-font;
  @include primary-button-animation;
  a {
    color: $eksamen-2-hex;
  }
  &:hover {
    background: $eksamen-2-hex;
    a {
      color: $eksamen-5-hex;
    }
  }
}
