@mixin primary-button-style {
  background: transparent;
  padding: 1rem 4rem;
  border: 0.3125rem solid #261a18;
  cursor: pointer;
  @include primary-button-font;
  @include primary-button-animation;
  a {
    color: $eksamen-2-hex;
  }
  &:hover {
    background: #261a18;
    a {
      color: #261a18;
    }
  }
}
.cases-slider__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 3rem;
}
