/* button animations */
@mixin primary-button-animation {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  &:hover {
    -webkit-transition: all 0.35s ease;
    transition: all 0 35s ease;
  }
  &:active {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
}
