* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
textarea {
  resize: none;
  border: 0;
  outline: 0;
}
input {
  border: 0;
}

button {
  border: 0;
  background: none;
}
.fa-chevron-right {
  padding: 20px;
  background-color: $eksamen-hero-rgba-5-hex-0-8;
  color: $eksamen-4-hex;
  cursor: pointer;
}
.fa-chevron-left {
  padding: 20px;
  background-color: $eksamen-hero-rgba-5-hex-0-8;
  color: $eksamen-4-hex;
  cursor: pointer;
}
.next,
.prev {
  color: $eksamen-1-hex;
  font-size: 30px;
  background-color: $eksamen-4-hex;
}
