@font-face {
  font-family: urbane, sans-serif;
  src: url("https://use.typekit.net/yph1dvt.css");
  font-weight: 900, 700, 600, 500, 300, 200, 100;
  font-style: normal, italic;
}
@font-face {
  font-family: bilo, sans-serif;
  src: url("https://use.typekit.net/yph1dvt.css");
  font-weight: 900, 700, 600, 500, 300, 200, 100;
}
@font-face {
  font-family: "Poiret One", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
  font-weight: 700, 600, 500, 400, 300;
}

/* primary button */
@mixin primary-button-font {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
@mixin secound-button-font-style {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
