
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
  font-weight: 700, 600, 500, 400, 300;
}

/* primary button */
@mixin primary-button-font {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
@mixin secound-button-font-style {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

/* link */
@mixin link-font-style {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 2px;
}
@mixin h1 {
  position: relative;
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
@mixin h2 {
  position: relative;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: bold;
}
@mixin h3 {
  float: left;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: bold;
}
@mixin p {
  position: relative;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: lighter;
  
}