#section-hero {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  .section-hero__video {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  .section-hero__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
  }
}
