.section-hero {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  img {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    overflow-y: hidden;
  }
  .section-hero__overlay {
    background-color: $eksamen-hero-rgba;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
  }
}
