.reparationer{
    background-color: blanchedalmond;
}
.slide_container {
    .mySlides{
        img {
            vertical-align: middle;
            width: 100%;
            height: 500px;
            object-fit: cover;
            }
    }
    .row{
        
            .column{
                img{
                    width: 100px;
                    height: 100px;
                    object-fit: scale-down; 
                }
            }
        }
    }
    

  /* Position the image container (needed to position the left and right arrows) */
  .slide_container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    top: 20px;
    overflow: hidden;
    max-width: fit-content;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .slide_container .prev, 
  .slide_container .next {
    cursor: pointer;
    position: relative;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .slide_container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .slide_container .prev:hover,
  .slide_container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .overskrift1{
      text-align: center;
      padding-top: 100px;
  }
  .text{
      text-align: center;
  }