.reparationer {
  background-color: brown;
 height: 100%;
  @include section-dimensions;
  scroll-snap-align: start;
   /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  position: relative;
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.tekstbox{
  display: block;
  padding: 16px;
  text-align: center;
}
p{
  display: block;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: lighter;
  text-indent: 30px;
}

