.section-projekt-2 {
  width: 100vw;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  img {
    padding: 0;
    margin: 0;
    width: 50vw;
    height: 100%;
    object-fit: cover;
  }
  .section-projekt-2__img-btn-container {
    background-color: $eksamen-hero-rgba-2-hex-0-2;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 100vh;
    padding: 50vh 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 200vh;
  }
  #section-projekt-2__info-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
    background-color: $eksamen-2-hex;
    width: 50%;
    padding: 25vh 10rem;
    #section-projekt-2__info-title {
      @include h1;
    }
    #section-projekt-2__info-quote {
      @include p;
      height: 220px;
    }
    #section-projekt-2__info-watch-video {
      @include video-button;
    }
  }
}
