.section-projekt-1 {
  .section-projekt-1__img-container {
    height: 100vh;
    width: 50%;
    #section-projekt-1__img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    .section-projekt-1__img-btn-container {
      position: absolute;
      top: 50%;
      font-size: 30px;
      color: white;
    }
  }
  #section-projekt-1__info-container {
    height: 100vh;
    width: 50%;
  }
}
