.section-projekt-1 {
  padding-top: 100px;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  @include media(">=tablet") {
    flex-direction: row;
    padding-top: 0;
  }
  img {
    width: 100vw;
    height: 200px;
    object-fit: cover;
    @include media(">tablet") {
      width: 50vw;
      height: 100%;
    }
  }
  .section-projekt-1__img-btn-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 80vh;
    padding: 50vh 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    @include media(">=tablet") {
      width: 50vw;
      top: 100vh;
    }
    @include media(">=desktop") {
      width: 50vw;
      top: 100vh;
    }
  }
  #section-projekt-1__info-container {
    display: flex;
    flex-direction: column;
    background-color: $eksamen-2-hex;
    width: 100vw;
    height: 100%;

    @include media(">=tablet") {
      width: 50vw;
    }
    .section-projekt-1__arrow {
      cursor: pointer;
      display: flex;
      justify-content: center;
      i {
        position: absolute;
        bottom: -95vh;
        font-size: 15px;
        color: $eksamen-3-hex;
        animation: bounce 3s infinite;
        @keyframes bounce {
          0%,
          10%,
          20%,
          30%,
          40%,
          50%,
          60%,
          70%,
          80%,
          90%,
          100% {
            transform: translateY(-45px);
          }
          90% {
            transform: translateY(-30px);
          }
        }
      }
      p {
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: $eksamen-3-hex;
        font-family: "Quicksand", sans-serif;
        position: absolute;
        bottom: -86vh;
        letter-spacing: 1.5px;
        font-weight: 300;
      }
    }
    #section-projekt-1__info-title {
      font-size: 40px;
      font-weight: 300;
      font-family: "Quicksand", sans-serif;
      color: $eksamen-5-hex;
      padding-left: 25px;
      padding-right: 25px;
      margin-top: 30px;
      letter-spacing: 1.5px;
      @include media(">=Stablet") {
        font-size: 50px;
        padding-left: 60px;
        padding-right: 60px;
      }
      @include media(">=tablet") {
        margin-top: 250px;
        font-size: 60px;
      }
      @include media(">=desktop") {
        @include h1;
      }
    }
    #section-projekt-1__info-quote {
      font-family: "Quicksand", sans-serif;
      font-weight: 300;
      font-size: 17px;
      color: $eksamen-5-hex;
      padding-left: 25px;
      padding-right: 25px;
      margin-top: 30px;
      letter-spacing: 1.5px;
      @include media(">=Stablet") {
        padding-left: 60px;
        padding-right: 200px;
      }
      @include media(">=tablet") {
        @include p;
        margin-top: 30px;
        padding-right: 25px;
      }
      @include media(">=desktop") {
        padding-right: 100px;
      }
      @include media(">=Ldesktop") {
        padding-right: 200px;
      }
    }
    #section-projekt-1__info-watch-video {
      letter-spacing: 1.5px;
      position: absolute;
      width: 100%;
      bottom: -100vh;
      padding: 20px 5px;
      background-color: $eksamen-5-hex;
      color: $eksamen-4-hex;
      font-size: 15px;
      font-weight: 300;
      font-family: "Quicksand", sans-serif;
      @include media(">=tablet") {
        width: 50vw;
      }
    }
  }
}
