.section-projekt-2 {
  width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  img {
    width: 50vw;
    height: 100%;
    object-fit: cover;
  }
  .section-projekt-2__img-btn-container {
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 200vh;
    padding: 50vh 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  #section-projekt-2__info-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: $eksamen-4-hex;
    width: 50%;
    padding: 30vh 10rem;
    #section-projekt-2__info-title {
      @include h1;
    }
    #section-projekt-2__info-quote {
      @include p;
    }
    #section-projekt-2__info-watch-video {
      @include video-button;
    }
  }
}
