#bobedre{
    height: 100vh;
    width: 100%;
    background-color: #733B1A;
    padding-top: 10rem;
    img{
        
        object-fit: cover;
        width: 400px;
        height: 100%;
        float: right;
        position: relative;
    }
    dt{
        @include h1;
    }
    dd{
       
    }
    @include h1;
    @include h2;
    @include h3;
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 50vw;
        height: 60vh;
        margin: 0 auto;
        background-color: white;
        
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        

      }
      .container2{
      
      }
      .container3{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 40vw;
        padding: 0 300px;
        @include responsive(tablet){
          padding:10px;
        }
       
      
      }
  
}