.cases-slider {
  img {
    margin-top: 4rem;
    @include cases-profil-img;
    border: 5px solid $eksamen-2-hex;
  }
  dt {
    margin-top: 1rem;
    @include h1-font-style;
  }
  dd {
    margin-top: 0.5rem;
    @include h2-font-style;
  }
  dl {
    padding: 20px 60px;
    width: 400px;
    background-color: $eksamen-5-hex;
    margin: 0 20px;
  }
  button {
    margin: 2rem 0;
    cursor: pointer;
    @include primary-button-style;
    color: $eksamen-2-hex;
    &:hover {
      color: $eksamen-5-hex;
    }
  }
}
