nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 20px 100px;
  top: 0;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

.scrollify-section {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  img {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
}
i {
  padding: 0;
  margin: 0;
}
button {
  padding: 0;
  margin: 0;
}
