@mixin navigationbar {
  @include grid-jcsb-aic-gafc;
  background-color: $eksamen-5-hex;
  padding: 1rem 5rem;
  position: fixed;
  width: 100%;
  @include responsive(tablet) {
    padding: 1rem 2rem;
  }
  ul {
    @include grid-jcsb-aic-gafc;

    @include responsive(phone) {
      gap: 40px;
    }
    @include responsive(tablet) {
      gap: 20px;
    }
    @include responsive(desktop) {
      gap: 60px;
    }
    @include responsive(desktop-large) {
      gap: 200px;
    }
  }
  button {
    @include primary-button-style;
  }
  a {
    @include link-style;
  }
}
